/*
* style.css
*
*/

/* Set box-sizing rules */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"] {
    appearance: none;
    /* background: ; */
    border: 1px solid #272727;
    height: 100px;
    width: 300px;
    border-radius: 70px;
}

#buttom {
    position: relative;

}

.night {
    height: 75px;
    width: 75px;
    border: 1px solid #272727;
    position: absolute;
    bottom: 18px;
    left: 30px;
    border-radius: 40px;
    background-color: darkgrey;
}

input[type="checkbox"]:checked {
    background-color: red;
}


.night-mode {
    background-color: #272727;
    color: #fff;
}

/* .light {
    right: 30px;
    height: 75px;
    width: 75px;
    border: 1px solid #ffffff;
    position: absolute;
    bottom: 18px;
    border-radius: 40px;

} */