/*
* style.css
*
*/

/* Set box-sizing rules */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"] {
    appearance: none;
    /* background: ; */
    border: 1px solid #272727;
    height: 100px;
    width: 300px;
    border-radius: 70px;
}

#night-mode-edit {
    position: relative;

}

#night {
    height: 80px;
    width: 80px;
    border: 1px solid #272727;
    position: absolute;
    right: 20px;


}

input[type="checkbox"]:checked {
    background-color: red;
}


.night-mode {
    background-color: #272727;
    color: #fff;
}